body {
	font-family: 'Kanit', sans-serif;
	background-color: rgb(20,20,20)

}

h1 {
	text-align: center;
	color: rgb(227,18,34);
	font-size: 45px;
}

p {
	color: rgb(227,18,34);
}

label {
	color: rgb(227,18,34);
}

#gif-form {
	position: relative;
	float: right;
}
.button-style {
	margin-left: 5px;
	margin-bottom: 5px;
	background-color: rgb(33,84,102);
	color: white;
}

.rating {
	text-align: center;
}

.img {
	width: 90%;
	margin: auto;
	display: block;
	max-height: 160px;
}

.img-container {
	margin-left: 5px;
	margin-bottom: 5px;
	border: solid 2px rgb(180,180,180);
	padding: 5px;
	height: 200px;
}

#add-gifs {
	color: black;
	position: relative;
	left: 40px;
}

.title {
	margin-bottom: 20px;
}


